@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --mainColor: linear-gradient(to right top, #007aff, #0064ef, #004dde, #0035cc, #0018b9);
    --primary-color: #DAD3D3;
    --secondary-color: #FFB400;
    --third-color:#7F90BC;
}
body{
    /* background-image: url(./images/Footer-background.jpg); */
}
::-webkit-scrollbar{
    width: 7px;
    transition: 1s;
}
::-webkit-scrollbar-button{
    height: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb:active{
    background-color: var(--secondary-color);
}
::-moz-scrollbar-button{
    height: 0px;
}
::-moz-scrollbar{
    width: 7px;
    transition: 1s;
}
::-moz-scrollbar-thumb{
    background-color: var(--secondary-color);
}
::-moz-scrollbar-thumb:active{
    background-color: var(--secondary-color);
}
a{
    text-decoration: none;
    color: var(--mainColor);
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
header{
    /* border: 5px solid red; */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
header nav{
    /* border: 1px solid black; */
    /* height: 80px; */
    margin: auto;
    color: var(--mainColor);
    background-color: #DAD3D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
header nav .logo{
    font-size: 35px;
    font-weight: bolder;
}
header .our-dialog{
    font-size: 10px;
    display: block;
}
.dot{
    font-size: 1.5em;
    color: royalblue;
    font-weight: bolder;
}
header nav ul li{
    margin-right: 30px;
}
header nav ul li a{
    font-size: 17px;
    letter-spacing: 3px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s;
}
.search-box input{
    /* border-radius: 50px; */
    padding-left: 20px;
}
.search-box button{
    border-radius: 50px;
    padding-left: 10px;
    transition: 1s;
    border-width: 3px;
}
.search-box button:hover{
    transform: rotate(360deg);
}
header nav ul{
    margin-left: 15px;
}
.hero{
    width: 100%;
}
.left-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.img-div img{
    width: 100%;
}
.contact-links{
    background: var(--gray-gradient);
}
.contact-links ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-links ul li{
    color: var(--mainColor);
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
}
.contact-links ul li i{
    color: var(--mainColor);
}
#heading{
    color: #000;
    border-bottom: 5px dashed var(--secondary-color);
    border-width: 7px;
    font-weight: 700;
    text-align: center;
}
.Trending-models{
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.latest-models{
    /* border: 1px solid black; */
    padding-left: 10px;
}
.car-img-div{
    border: 1px solid #0f0c29;
    margin: 10px 2.9em;
    border-radius: 20px;
    box-shadow: 7px 7px 2px var(--secondary-color);
    padding: 1.5em 0;
    height: 500px;
    transition: 1s;
}
.car-img-div img{
    width: 100%;
    height: 60%;
}
.car-img-div .card-body{
    height: 40%;
}
.car-img-div:hover{
    transform: translateY(-20px);
}
.car-img-div h6{
    /* color: var(--mainColor); */
    font-weight: bolder;
}
.car-img-div p{
    /* color: var(--mainColor); */
}
.Prc-Bfr{
    display: block;
    text-decoration-line: line-through;
}
.Models-img .slick-dots{
    /* border: 3px solid black; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Models-img .slick-dots button{
    font-size: 0px;
    padding: 10px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: 0.5s ease;
}
.Models-img .slick-dots button:hover{
    background-color: transparent;
}
.Models-img .slick-prev{
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: -5%;
    bottom: 50%;
    transition: 1s;
}
.Models-img .slick-next{
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: -5%;
    bottom: 50%;
    transition: 1s;
}
.trendBox{
    padding-top: 30px;
    background-color: var(--primary-color);
}
.Models-img{
    position: relative;
    /* border: 1px solid red; */
}
.Models-img .slick-prev:hover,.slick-next:hover{
    border: 1px solid var(--secondary-color);
    background-color: #fff;
    color: var(--secondary-color);
}
.see-more{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.see-cars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.see-cars button{
    padding: 10px 3em;
}
.see-more button{
    display: block;
    width: 50%;
    margin: 10px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition: ease-out 0.4s;
    position: relative;
    z-index: 0;
}
.see-more button:hover{
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
}
.see-more button::before{
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: var(--secondary-color);
}
.see-more button:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us{
    padding-bottom: 5px;
    border-bottom: 5px solid black;
}
.about-us h2{
    text-align: center;
    color: #000;
    border-bottom: 4px dashed #000;
}
.paraBox{
    display: flex;
    align-items: center;
    background-image: url(./images/About-Background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about-para p{
    font-size: 2em;
    font-weight: 900;
    color: white;
    letter-spacing: 7px;
    word-spacing: 7px;
    font-family: sans-serif;
    padding: 2em 0;
}
.about-para p span a{
    color: var(--secondary-color);
    font-size: 1.5em;
    font-style: oblique;
    transition: 0.5s all ease-in-out;
    text-decoration: none;
}
.about-para p span a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
#about-btn{
    padding: 5px 10px;
    font-size: 24px;
    border: none;
}
.myModal{
    min-width: 70%;
}
.modalLogo{
    font-size: 24px;
    font-weight: bolder;
}
.modalLogo .our-dialog{
    font-size: 10px;
}
.btn-grad i{
    font-size: 20px;
}
.btn-grad {
   display: block;
   margin: 10px;
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background: none;
   color: var(--secondary-color);  
   border-radius: 10px;
   transition: ease-out 0.4s;
   position: relative;
   z-index: 1;
}
.btn-grad:hover {
   color: #fff;
   text-decoration: none;
}
.btn-grad::before{
    content: "";
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    background-color: var(--secondary-color);
}
.btn-grad:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.my-btn {
   display: block;
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   background-size: 200% auto;
   color: var(--secondary-color);
   border-radius: 10px;
   font-weight: 700;
   border: 2px solid var(--secondary-color);
   box-shadow: inset 0 0 0 0  var(--secondary-color);
   transition: ease-out 0.4s;
}
.my-btn:hover{
    color: #fff;
    box-shadow: inset 16em 0 0 0  var(--secondary-color);
    color: white;
    text-decoration: none;
}
.modal-content{
    box-shadow: 7px 7px 2px var(--secondary-color);
}
.modal-img-section{
    border-right: 5px solid var(--secondary-color);
}
.modal-img-section img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.modal-img-section img:hover{
    transform: translateY(-15px);
}
.close:hover{
    cursor: pointer;
    color: red;
    transform: rotate(360deg);
    transition: 0.5s;
}
#productModal .myModal .modal-content .modal-header{
    position: sticky;
    top: 0;
    background-color: #fff;
}
.myThanksModal .modal-content{
    /* background-color: var(--primary-color); */
    color:#000;
    box-shadow: 7px 7px 10px var(--secondary-color);
}
.myThanksModal .modal-content .modal-body{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 24px;
}

/* My Home Page Cards */
.my-card-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myContainer{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.myContainer .mycard{
    position: relative;
    max-width: 300px;
    height: 180px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px var(--secondary-color);
    transition: 0.5s ease-in-out;
}
.myContainer .mycard:hover{
    height: 300px;
}
.myContainer .mycard .imgbx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 0;
    /* box-shadow: 0 5px 20px var(--secondary-color); */
}
.myContainer .mycard .imgbx img{
    max-width: 100%;
    border-radius: 4px;
}
.myContainer .mycard .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.myContainer .mycard:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.abt-img-div{
    background-image: url(./images/About-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding: 7em 0;
}
.abt-img-div h1{
    text-transform: uppercase;
}
.abt-img-div p{
    word-spacing: 5px;
    font-weight: 500;
    font-size: large
}
.abt-img-div p a:hover{
    text-decoration: none;
    color: var(--secondary-color);
}
.trusted-by .logosBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAD3D3;
    padding: 2em;
}
.trusted-by .logosBox img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.trusted-by .logosBox img:hover{
    filter: grayscale(0);
    transform: scale(1.2);
}
/* /// Google Map Start /// */

iframe{
    width: 100%;
    padding-bottom: 5em;
}
.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.location h3{
    color: #212529;
    font-weight: 500;
    font-size: 2.3em;
    border-bottom: 7px dashed var(--secondary-color);
}

/* /// Google Map End /// */

/* /// Footer Start /// */

.footer-logo a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.footer-logo a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40%;
    height: 3px;
    width: 70%;
    background-color: var(--secondary-color);
}
.footer{
    background-image: url(./images/Footer-background.jpg);
    position: relative;
}
.footer-cta{
    border-bottom: 1px solid #fff;
}
.single-cta i{
    color: var(--secondary-color);
    font-size: 30px;
    margin-bottom: 10px;
}
.cta-text h4{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span{
    color: darkgray;
    font-size: 15px;
}
.footer-content{
    position: relative;
}
.footer-logo{
    margin-bottom: 13px;
}
.footer-text p{
    margin-bottom: 14px;
    font-size: 14px;
    color: darkgray;
    line-height: 28px;
}
.footer-social-icons span{
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-social-icons a{
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icons i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: 1s;
}
.facebook-bg:hover{
    background-color: #3b5998;
    transform: rotate(360deg);
}
.twitter-bg:hover{
    background-color: #55acee;
    transform: rotate(360deg);
}
.instagram-bg:hover{
    background-image: linear-gradient(360deg,#FF512F,#DD2476,#FF512F );
    transform: rotate(360deg);
}
.footer-items .footer-heading h3{
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-items .footer-heading h3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40%;
    height: 3px;
    width: 30%;
    background-color: var(--secondary-color);
}
.footer-items ul li{
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    color: #fff;
}
.footer-items ul li a:hover{
    color: var(--secondary-color);
    transition: 0.5s;
}
.subscribe-form{
    position: relative;
    overflow: hidden;
}
.subscribe-form input{
    width: 100%;
    padding: 14px 28px;
    background-color: #fff;
    color: #000;
    border: none;
}
.subscribe-form input:focus{
    border: none;
}
.subscribe-form button{
    position: absolute;
    right: 0;
    background-color: var(--secondary-color);
    padding: 13px 20px;
    border: 1px solid var(--secondary-color);
    top: 0;
    height: 100%;
    transition: 0.5s;
}
.subscribe-form button i{
    color: #fff;
    font-size: 24px;
    transition: 0.5s;
}
.subscribe-form button:hover i{
    transform: skew(-40deg);
}
.copyright-box{
    border-top: 2px solid #fff;
    padding: 25px 0;
}
.copyright-text p{
    margin: 0;
    font-size: 20px;
    color: #fff;
}
.copyright-text p a{
    color: var(--secondary-color);
    font-size: 27px;
    font-family: serif;
    font-weight: 900;
}
.footer-menu li{
    display: inline-block;
    margin-left: 10px;
    font-weight: bolder;
    clear: both;
}
.footer-menu li a{
    color: #fff;
}
.footer-menu li:hover a{
    color: var(--secondary-color);
}
/* /// Footer End /// */

/* /// Contact  start /// */
.contact .contact-info {
    text-align: center;
}
.contact .contact-info strong {
    font-weight: 500;
    font-size: 14px;
    color: #525252;
}
.contact .contact-info i {
    font-size: 24px;
    color: #212529;
}
.contact .contact-info p {
    margin: 0;
    font-size: 15px;
}
.contact .form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background: #fff;
    outline: 0;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    box-shadow: none;
}
.contact .form-control:focus {
    color: #495057;
    background: #fff;
    outline: 0;
    border: 1px solid #eaeaea;
    box-shadow: 5px 5px 3px var(--secondary-color);
}
.contact .form-group {
    margin-bottom: 20px;
}
.contact textarea {
    min-height: 230px;
}
.contact .btn-message {
    border-radius: 50px;
    padding: 10px 60px 11px;
}
.contact-map-content .map-content {
    width: 250px;
}
.contact .contact-info-2 {
    padding: 40px;
    border-radius: 5px;
    margin-left: 50px;
    background: #fff;
}
.contact .contact-info-2 .ci-box i {
    width: 45px;
    line-height: 50px;
    margin-right: 5px;
    font-size: 33px;
    color: var(--secondary-color);
}
.contact .contact-info-2 .ci-box h5 {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 5px;
}
.contact .contact-info-2 .ci-box p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}
.contact .contact-info-2 .ci-box a{
    text-decoration: none;
}
.contact .contact-info-2 .ci-box a:hover{
    color: var(--secondary-color);
}
.contact .contact-info-2 .ci-box {
    margin: 0 0 30px 0;
    position: relative;
    width: 100%;
}
.contact .ci-box .icon {
    position: absolute;
}
.contact .ci-box .detail {
    margin-left: 50px;
}
.for-u{
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 900;
}
.contact-form{
    background-color: var(--primary-color);
    padding: 2em 0;
}
.send-btn{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.submit-btn{
    display: block;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid var(--secondary-color);
    box-shadow: inset 16em 0 0 0  var(--secondary-color);
    transition: ease-out 0.4s;
}
.submit-btn:hover{
     color: var(--secondary-color);
     box-shadow: inset 0 0 0 0  var(--secondary-color);
     text-decoration: none;
}
.submit-btn i{
    font-size: 24px;
}
/* Tabs Styling Start */

.tabs-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    color: royalblue;
}

/* Tabs Styling End */

/* Newsletter Form Start */
.our-newslatters-2 .inner {
    background: url(./images/About-img.jpg);
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px 25px 35px;
    border-radius: 5px;
    margin: 0 0 30px;
}
.our-newslatters-2 .inner .intro-text h3 {
    font-size: 27px;
    margin-bottom: 5px;
    color: #fff;
    line-height: normal;
    font-weight: 500;
}
.our-newslatters-2 .inner p {
    color: #fff!important;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
}
.our-newslatters-2 .form-control {
    width: 80%;
    height: 50px;
    padding: 10px 15px;
    font-size: 15px;
    outline: 0;
    border-radius: 3px;
    border: transparent;
}
.our-newslatters-2 .btn {
    color: #fff;
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    height: 50px;
    top: 0;
    right: 0;
    text-transform: inherit;
    font-weight: 400;
    border-radius: 3px;
    border: none!important;
    width: 20%;
    background-color: var(--secondary-color);
}
.our-newslatters-2 .btn i{
    transition: 0.5s;
    font-size: 20px;
}
.our-newslatters-2 .btn:hover i{
    transform: skew(-25deg);
} 
.our-newslatters-2 .newsletter-content-wrap{
    margin-top: 7px;
}
/* Newsletter Form End */

/* Testimonials Section start */

.testimonials{
    margin: 50px auto;
}
.testimonials h1{
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}
.testimonials p{
    text-align: center;
}
.testimonials .row{
    margin-top: 30px
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: var(--third-color);
    position: relative;
}
.profile img{
    position: absolute;
    top: -60px;
    left: calc(50% -50%);
    border: 10px solid var(--secondary-color);
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: var(--secondary-color);
    font-weight: bolder;
}
.profile span{
    font-size: 12px;
    color: #333;
}
.profile blockquote{
    font-size: 16px;
    line-height: 30px;
}
.profile i{
    font-size: 3em;
    position: absolute;
    top: 0;
    left: 10%;
    color: var(--secondary-color);
}
.review-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Testimonials Section End */
/* //// <== @Media Query For Screens Start ==> //// */

@media screen and (max-width:1115px){
    .car-img-div{
        margin: 10px 2.5em;
        padding: 1.2em 5px;
    }
    .car-img-div img{
        width: 100%;
        height: 60%;
    }
}
@media screen and (max-width:1024px){
    header nav ul li a{
        font-size: 15px;
    }
    header nav ul li{
        margin-right: 15px;
    }
}
@media screen and (max-width:575px){
    .search-box input{
        width: 80%;
        margin-right: 10px;
    }
    .search-box button{
        width: 10%;
    }
    .tabs-section{
        font-size: 15px;
    }
    .logosBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logosBox img{
        margin: 10px 0;
    }
}
@media screen and (max-width:990px){
    .car-img-div{
        margin: 10px 0;
        padding: 1.2em 5px;
    }
    .latest-models{
        /* border: 1px solid black; */
        padding: 4em;
    }
    .contact .contact-info-2{
        margin-top: 20px;
        margin-left: -1px;
    }
}

@media screen and (max-width:990px) and (min-width:767px){
    .lambo-2-box{
        margin-left: 10em;
    }
}
@media (max-width:766px){
    .car-img-div{
        margin-left: 30px;
    }
}
/* //// @Media Query For Footer Start  //// */

@media (max-width:1030px){
    .mb-30{
        margin-bottom: 30px;
    }
    .footer-text p,
    .footer-social-icons{
        margin-bottom: 30px;
    }
}

/* //// @Media Query For Footer End  //// */



/* //// <== @Media Query For Screens End ==> //// */